@import "tailwindcss";

:root {
  --background: #f6f6fa;
  --foreground: var(--color-black);
}

@theme {
  --color-background: #f6f6fa;
  --color-foreground: var(--color-black);
  --color-primary: #efd900;
  --color-secondary: #fff8c5;
  --color-success: #4cd964;
  --color-success-light: #cff3af;
  --color-warning: #ffe100;
  --color-danger: #ff4444;
  --color-danger-light: #ffd9d9;
  --color-info: #00adff;
  --color-info-light: #c7e9f9;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-900: #4b4b4b;
  --color-gray-700: #6d6d6d;
  --color-gray-300: #8a8a8f;
  --color-gray-100: #e4e4e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  height: 100vh;
}
